img{
    width: 250px;
    height: 250px;
}
p{
    font-size: 15px;
    font-weight: 700;
}
ul{
    list-style-type: square;
}
body{background-color: rgb(190, 63, 101);
}
ol li a {
    font-family: Georgia, 'Times New Roman', Times, serif;
}